{% extends 'auth.html' %}

{% block main %}
    <div class="password-reset-form centered-div">
        <a href="{% url 'index' %}"><h1 class="title">WeBlog</h1></a>
        <p>We will send you a reset link to this address</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send reset link" id="ask-reset-btn" class="auth-btn horizontally-centered"/>
        </form>
    </div>
    <p class="go-back-login">Give up and <a href="{% url 'login' %}">log in</a> ?</p>
{% endblock %}
