{% extends 'auth.html' %}

{% block main %}
    <div class="confirm-reset-form centered-div">
        <a href="{% url 'index' %}"><h1 class="title">WeBlog</h1></a>
        {% if validlink %}
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                </div>
                <ul class="helptext">
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div>
                    <label for="id_new_password2">New password confirmation:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                </div>
                <br/>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <span>{{ error|escape }}</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <span>{{ error|escape }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="Reset Password" class="auth-btn horizontally-centered"/>
            </form>
        {% else %}
            <p>This link is invalid or already used. Try to ask for another reset link.</p>
            <br/>
            <a href="{% url 'password_reset' %}">
                <input type="submit" value="Send another link" class="auth-btn horizontally-centered"/>
            </a>
        {% endif %}
    </div>
{% endblock %}
